<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main class="main">


      

<div class="producto-detalle">
  
    <div class="a"><img src="/img/productos/<%=menu.image%>" alt="Detalle del Producto" class="producto-imagen"></div>
        <h2 class="nombre"><%=menu.title%>"</h2>
        <div class="producto-info">
            
            <p class="descripcion"><%=menu.description%>"</p>
        </div>
        <div class="acciones">
            <p class="precio"><%=menu.price%>"</p>
            <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <button class="carrito">Agregar al Carrito</button>
            <button class="reseñas">Ver Reseñas</button>
            <button class="home"><a href="/">Inicio</a></button>
        </div>
        
    </div>




    </main>
    <%- include("../partials/footer") %>
  </body>
  <script
    src="https://kit.fontawesome.com/32e1b61c65.js"
    crossorigin="anonymous"
  ></script>
</html>
