<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@400;500;700&family=Nanum+Gothic+Coding:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a
          class="logo_i"
          href="/"
          aria-label="Panda Food, Click to go home."
        ></a>
      </div>
      <div class="header_nav">
        <nav class="menu">
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/registro">Registro</a></li>
            <li><a href="/carrito">Carrito</a></li>
            <li><a href="/detalle">Detalle</a></li>
          </ul>
        </nav>
      </div>

      <div class="search">
        <input type="text" placeholder="Buscar..." />
      </div>
    </header>
    <main>
        <div class="carrito-section">
            <h1>  Actualizar Menu N° <%= menu.id %> </h1>
            <div>
                <form action="/admin/edit-process/<%= menu.id %>?_method=PUT" method="post">
                    <input type="text" name="titulo" placeholder="Titulo" value="<%= menu.title %>">
                    <input type="text" name="categoria" placeholder="Categoria" value="<%= menu.category %>">
                    <input type="text" name="descripcion" placeholder="Descripcion" value="<%= menu.description %>">
                    <input type="number" name="precio" placeholder="Precio" value="<%= menu.price %>">
                    <button type="submit">Editar</button>
                </form>
                <!-- <form action="/admin/delete/<%= menu.id %>?_method=DELETE" method="post">
                  <button>Borrar</button>
                </form> -->
            </div>
        </div>
    </main>

    <footer>
        <div class="izquierda">
          <img src="/img/logo-PandaFood.svg" alt="logo" class="logof" />
        </div>
        <div class="centro">
          <ul class="menuf">
            <li><a href="">Tu perfil</a></li>
            <li><a href="">Preguntas frecuentes</a></li>
            <li><a href="">Locales</a></li>
            <li><a href="">Reclamos</a></li>
          </ul>
        </div>
        <div class="copyrightf">
          © 2023 Panda Food - Todos los derechos reservados
        </div>
      </footer>
</body>

</html>