<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
        <div class="carrito-section">
            <h1>  Actualizar Menu N° <%= menu.id %> </h1>
            <div>
                <form action="/admin/edit-process/<%= menu.id %>?_method=PUT" method="post">
                    <input type="text" name="titulo" placeholder="Titulo" value="<%= menu.title %>">
                    <input type="text" name="categoria" placeholder="Categoria" value="<%= menu.category %>">
                    <input type="text" name="descripcion" placeholder="Descripcion" value="<%= menu.description %>">
                    <input type="number" name="precio" placeholder="Precio" value="<%= menu.price %>">
                    <button type="submit">Editar</button>
                </form>
                <!-- <form action="/admin/delete/<%= menu.id %>?_method=DELETE" method="post">
                  <button>Borrar</button>
                </form> -->
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
</body>

</html>