<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
        <div class="carrito-section">
            <h1>  Actualizar Menu N° <%= menu.id %> </h1>
            <div>
                <form action="/admin/edit-process/<%= menu.id %>?_method=PUT" method="POST">
                    <input type="text" name="name" placeholder="Titulo" value="<%= menu.name %>">
                    <input type="text" name="category_id" placeholder="Categoria" value="<%= menu.category_id%>">
                    <input type="text" name="description" placeholder="Descripcion" value="<%= menu.description %>">
                    <input type="number" name="price" placeholder="Precio" value="<%= menu.price %>">
                    <button type="submit">Editar</button>
                </form>
                <br>
                <%if (menu.deletedAt == null) {  %>
                <form action="/admin/delete/<%= menu.id %>?_method=DELETE" method="POST">
                  <button>Borrar</button>
                </form>
                <% } else { %>
                
                <% } %>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
</body>

</html>