<!DOCTYPE html>
<html lang="es">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>
    <main>
      <div class="contenedor-list-users">
        <h1>Administrador de Usuarios</h1>
        <button class="button-crear">
          <a href="/users/viewCreateUser">Crear Usuario</a>
        </button>
        <table border="1">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Imagen de Perfil</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <% for (let user of users) { %>
            <tr>
              <td><%= user.firstName %></td>
              <td><%= user.lastName %></td>
              <td><%= user.email %></td>
              <td>
                <img
                  src="/img/users/<%= user.image %>"
                  alt="Sin Imagen"
                  width="100"
                />
              </td>
              <td>
                <a href="/users/viewEditUser/<%= user.id %>"
                  ><button>
                    <i
                      class="fa fa-pencil-square-o"
                      aria-hidden="true"
                    ></i></button
                ></a>
              </td>
              <td>
                <form
                  action="/users/deletebyid/<%= user.id %>?_method=DELETE"
                  method="POST"
                >
                  <button>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <%- include("../partials/footer") %>
  </body>
</html>
